/* General Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	font-family:Roboto;
}

.container {
	max-width:1024px;
}

input::-webkit-input-placeholder {
  text-align: center;
}
input:-moz-placeholder {
  text-align: center;
}
input::-moz-placeholder {
  text-align: center;
}
input:-ms-input-placeholder {
  text-align: center;
}

p {
	font-weight:300;
	line-height:2em;
}

/* Top Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#top-header {
	margin-top:150px;
	margin-bottom:50px;
	border-bottom:1px solid #aaaaaa;
}

.logo {
	margin-bottom:0;
}

	.logo a {
		text-decoration:none;
		color:#222;
		font-weight:500;
		font-size:0.8em;
	}
	
	.logo a:hover {
		color:#33C3F0;
	}

.navbar {
	margin:0 0 0 auto;
}

	.navbar tr td{
		border:none;
		padding-bottom:0;
		padding-top:24px;
	}

	.navbar tr td a {
		text-decoration:none;
		font-weight:300;
		color:#222;
		letter-spacing:1px;
		font-size:0.9em;
	}
	
	.navbar tr td a:hover {
		color:#33C3F0;
	}


/* Main Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
td, th {
	border: 1px solid #E1E1E1;
}

.article {
	margin-bottom:100px;
}

	.thumb {
		width:100%;
	}
	
	.article h1 {
		font-size:26px;
	}
	
	.article .title {
		margin:0;
		font-weight:500;
		font-size:28px;
		color:#222;
	}
	
	.article .title a {
		text-decoration:none;
		color:#222;
	}
	
	.article h2 {
		font-size:24px;
	}
	
	.article h3 {
		font-size:20px;
	}
	
	.article h3 {
		font-size:16px;
	}
	
	.article h4 {
		font-size:14px;
	}
	
	.article .date {
		margin:0;
		font-size:17px;
		font-weight:100;
		color:#b3b3b3;
	}
	
	.article .date a {
		text-decoration:none;
		color:#b3b3b3;
	}
	
	.article .preview {
		line-height:2em;
		margin-bottom:10px;
	}
	
	.article blockquote {
		background-color: #f6f8fa;
		border-left: 0.25em solid #dfe2e5;
		padding-left: 1em;
		margin-left:0;
	}
	
	.article td {
		padding:4px 5px;
	}
	.article {
		margin-bottom:0px;
	}
	
	.article img {
		max-width:100%;
	}

#articleNavigate {
	border-radius:0px;
	width:100%;
	margin-bottom:20px;
	background:#aaa;
	border:#aaa;
}
	
#articleNavigate:hover {
	background:#33C3F0;
	border:#33C3F0;
}

.list-of-tags {
margin-bottom:10px;
}


.tag-page {
	margin-bottom:100px;
}

	.tag-page .title {
		margin:0;
		font-weight:500;
		font-size:28px;
		color:#222;
	}
	
	.tag-page .thumb {
		max-width:100px;
		vertical-align:middle;
	}
	
	.tag-page .tag-results {
	margin-bottom:0rem;
	}
	
	.tag-page .tag-results td {
		border:none;
	}
	
	.tag-page hr {
		margin:0;
	}

/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sidebar {
	min-height:700px;
}

.sidebox {
	text-align:center;
	width:100%;
	min-height:150px;
	border:1px solid #aaaaaa;
	margin-bottom:30px;
}

	.sidebox-title {
		text-transform:uppercase;
		letter-spacing:2px;
		margin:20px;
	}

#searchInput {
	border-radius:0px;
	width:80%;
}

#searchSubmit {
	border-radius:0px;
	width:80%;
	margin-bottom:20px;
	background:#aaa;
	border:#aaa;
}

#searchSubmit:hover {
	background:#33C3F0;
	border:#33C3F0;
}

.social-media-icon {
	width:30px;
	margin-right:10px;
	vertical-align:middle;
}

.social-media-username {
	text-decoration:none;
	color:#222;
}

#emailInput {
	border-radius:0px;
	width:80%;
}
	
#emailSubmit {
	border-radius:0px;
	width:80%;
	margin-bottom:20px;
	background:#aaa;
	border:#aaa;
}
	
	#emailSubmit:hover {
		background:#33C3F0;
		border:#33C3F0;
	}
	
.recent-post {
	margin:20px;
	text-align:left;
}

.recent-post-title {
	margin:0px;
}

	.recent-post-title a {
		text-transform:none;
		text-decoration:none;
		color:#5F5E5F;
		font-weight:400;
		font-size:0.8em;
	}
	
.recent-post-date {
	color:#b3b3b3;
	font-weight:100;
}

.tag-name {
	text-decoration:none;
	display: inline-block;
	background: #b3b3b3;
	padding: 0 .5rem;
	margin-right: .5rem;
	margin-top:0.5rem;
	border-radius: 4px;
	color: #fff;
	font-size: 90%;
}
	.tag-name:before {
	    content: "\f02b";
	    font-family: FontAwesome;
	    padding-right: .5em
	}
	
	.tag-name:hover {
		background: #5F5E5F;
		color:#fff;
	}
	
	.tag-title {
		display: inline-block;
		background: #b3b3b3;
		padding: 0 1rem;
		margin-right: .5rem;
		margin-top:0.5rem;
		border-radius: 6px;
		color: #fff;
		font-size: 80%;
	}
	
		.tag-title:before {
		    content: "\f02b";
		    font-family: FontAwesome;
		    padding-right: .5em
		}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {
	border-top:1px solid #aaaaaa;
	min-height:200px;
	text-align:center;
	color:#aaaaaa;
}

	#footer h5 {
		margin-top:50px;
		text-transform:uppercase;
		font-weight:400;
		font-size:1em;
		letter-spacing:1px;
	}
	

/* For smaller screens
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 800px) {
	#top-header {margin-top:80px;}

	.logo {text-align:center; margin-bottom:20px;}

	.navbar {margin:0 auto 0 auto;}
	
	.navbar tr td {padding-bottom:12px;}
}
